@model Station
<div class = "container">
	<label asp-for = "Name"><b>@Model.Name</b></label>
	<label asp-for = "City"><b>@Model.City</b></label>
	<label asp-for = "Adress"><b>@Model.Adress</b></label>
</div>