@model IEnumerable<PlugType>

	<form asp-controller="AddControler" asp-action="Add" method="post">
		<div>
			<label>
				<select>
					@foreach(var d in Model)
					{
						<option value="d.Id">d.Name</option>
					}
				<select/>
			</label>
		</div>
		<button> </button>

	</form>



